<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.springboot.dao.UserDao">

    <select id="queryUserByUserName" parameterType="string" resultType="com.xxx.springboot.vo.User">
        select userId,
               userName,
               password,
               sex,
               email
        from users
        where userName = #{userName}

    </select>
    <select id="queryById" parameterType="int" resultType="com.xxx.springboot.vo.User">
        select userId,
               userName,
               password,
               sex,
               email
        from users
        where userId = #{userId}

    </select>

    <select id="selectByParams" parameterType="com.xxx.springboot.query.UserQuery"
            resultType="com.xxx.springboot.vo.User">
        select *
        from users
        <where>
            <if test="null != userName and userName!=''">
                and userName like concat('%',#{userName},'%')
            </if>
        </where>

    </select>

    <insert id="save">
        insert into users(userId,
                          userName,
                          password,
                          sex,
                          email)
        values (#{userId},
                #{userName},
                #{password},
                #{sex},
                #{email})
    </insert>

    <update id="update">
        update users
        set userName=#{userName},
            password=#{password},
            sex=#{sex},
            email=#{email}
        where userId = #{userId}
    </update>

    <delete id="delete" parameterType="int">
        delete
        from users
        where userId = #{userId}
    </delete>

</mapper>